/* * {
  border: 1px solid black;
} */

body {
  background-color: #2febc5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

div.content-log {
  height: 75vh;
  overflow: scroll;
}

div.card {
  box-shadow: 5px 5px 5px grey;
}
.btn_pagination {
  color: black;
}

.carousel-item {
  height: 30rem;
}
#carousel-item-1 {
  background-image: url("/assets/image/bgimage1.jpg");
  background-position: center;
  text-align: center;
}
#carousel-item-2 {
  background-image: url("/assets/image/bgimage2.jpg");
  background-position: center;
}
#carousel-item-3 {
  background-image: url("/assets/image/bgimage3.jpg");
  background-position: center;
}

#footer {
  margin-top: auto;
}

@media only screen and (max-width: 600px) {
  div.content-log {
    height: 25vh;
    overflow: scroll;
  }
}
